p{
    font-size: x-large;
    color: black;
    font-weight: bold;
}
pre{
    font-size: larger;
    color: red;
    font-weight: bolder;
}
li{
    font-size: x-large;
    color: black;
    font-weight: bold;
}